/*     General Classes       */
.bungee{
    font-family: 'Bungee', cursive;
}
.workSans{
    font-family: 'Work Sans', sans-serif;
}
.epilogue{
    font-family: 'Epilogue', sans-serif;
}
.ls5{
    letter-spacing: 5px;
}
.colorRedOnline{
    color: #D41E45;
}
.colorGrey{
    color: #888888;
}
.BGColorRedOnline{
    background-color: #D41E45 !important;
}
.BGColorLightGrey{
    background-color: #F0F0F0;
}
.roundBorder{
    border-radius: 8px;
}
.fwbold{
    font-weight: 700;
}
.disablingA{
    pointer-events: none;
}
.hideVisibility{
    visibility: hidden;
}
.square40{
    height: 40px;
    width: 40px;
}
.borderNone{
    appearance: none;
}
/* CSS HEADER */



/* CSS FOR INDEX */


#containerStarting > a:nth-child(1){
    border-radius: 10px;
    height: 55px;
}
#containerStarting > a:nth-child(1)>p{
    font-size: 13px;
    font-weight: 400;
}
#containerStarting > a:nth-child(2){
    height: 55px;
}
#containerStarting > a:nth-child(2)>p{
    font-size: 10px;
}

/* CSS FOR REGISTER */
#formRegister>input::placeholder{
    font-family: 'Epilogue', sans-serif;
}
#underTextEmailRegister{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}
#profilePictureRegister{
    visibility: hidden;
}
/* CSS FOR SEARCHITINERARY */